<div class="container" style="margin-top: 100px;">
    <h2 class="text-center">Meteorite Landings</h2>
    <div class="row card-group">
            <div class="col-4 mb-1" *ngFor="let landing of webService.landings_list | async"> 
            <div class="card border-info" [routerLink]="['/landings', landing._id]" style="cursor: pointer">
                    <div class="card-header bg-dark text-white">
                        {{ landing.name }}
                    </div>
                    <div class="card-body bg-light">
                        Condition: {{ landing.nametype }} <br>
                        Classification: {{ landing.recclass }} <br>
                        Mass (g): {{ landing.mass }} <br>
                        Fall date: {{ landing.year }} <br>
                    </div>
                    <div class="card-footer bg-secondary text-white">
                        Number of Reviews: {{ landing.reviews.length }}
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-primary"(click)="firstPage()">First Page</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary"(click)="previousPage()">Previous</button>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary"(click)="nextPage()">Next</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary"(click)="lastPage()">Last Page</button>
        </div>
    </div>

</div>