<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card"> 
                <div class="card-header bg-secondary text-white">
                    {{ landing.name }}
                </div>
                <div class="card-body">
                    Classification: {{ landing.recclass }} <br>
                    Validity: {{ landing.nametype }} <br>
                    Laditude: {{ landing.reclat }} <br>
                    Longitude: {{ landing.reclong }} <br>
                </div>
                <div class="card-footer bg-secondary text-white">
                    Fell on: {{ landing.year }}
                </div>
            </div>
        </div>
    </div>
</div>